@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
/* line 1, ../../src/scss/variables.scss */
:root {
  --navbarHeight: 70px;
  /*Colors*/
  --c1: #aabbcc;
  --c2: #557675;
  --c3: #223344;
  /*Timings*/
  --quick: .5s;
  /*--lazy: .95s;*/
  --lazy: .75s;
  /*ease timing*/
  --bounceEase: cubic-bezier(0.175, 0.985, 0.5, 1.25);
  /*misc settings*/
  --borderRadius: 10px; }

/*HELPERS*/
/* line 17, ../../src/scss/variables.scss */
.r {
  border: 5px red solid; }

/* line 20, ../../src/scss/variables.scss */
.x {
  display: none;
  opacity: 0; }

/* @include LINE(5px)*/
/*MIXIN's*/
/* line 4, ../../src/scss/features.scss */
.features-container {
  margin: 6px auto;
  /*@include grid(100%, 75%, "1fr", "75% repeat(2,1fr)");*/
  display: grid;
  width: 100%;
  height: 75%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,fr);
  grid-template-areas: "menu" "searchbar" "buttons";
  border: 3px white solid;
  background: #001;
  border: 2.5px white solid; }
  /* line 16, ../../src/scss/features.scss */
  .features-container--buttons {
    grid-area: buttons;
    position: relative;
    top: -40px;
    display: grid;
    width: 100%;
    height: 35px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "emoji gifs images dark";
    /*@include LINE(1px);*/
    border: 2px red solid; }
    /* line 24, ../../src/scss/features.scss */
    .features-container--buttons__emojis {
      position: relative;
      grid-area: emoji;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      transition: all var(--quick);
      background: #001;
      border: 1px white solid; }
      /* line 61, ../../src/scss/variables.scss */
      .features-container--buttons__emojis:hover {
        background: var(--c1); }
    /* line 30, ../../src/scss/features.scss */
    .features-container--buttons__gifs {
      position: relative;
      grid-area: gifs;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      transition: all var(--quick);
      background: #001;
      border: 1px white solid; }
      /* line 61, ../../src/scss/variables.scss */
      .features-container--buttons__gifs:hover {
        background: var(--c1); }
    /* line 36, ../../src/scss/features.scss */
    .features-container--buttons__images {
      position: relative;
      grid-area: images;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      transition: all var(--quick);
      background: #001;
      border: 1px white solid; }
      /* line 61, ../../src/scss/variables.scss */
      .features-container--buttons__images:hover {
        background: var(--c1); }
    /* line 42, ../../src/scss/features.scss */
    .features-container--buttons__darkmode {
      position: relative;
      grid-area: dark;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      transition: all var(--quick);
      background: #001;
      border: 1px white solid; }
      /* line 61, ../../src/scss/variables.scss */
      .features-container--buttons__darkmode:hover {
        background: var(--c1); }
  /* line 49, ../../src/scss/features.scss */
  .features-container--search-bar {
    grid-area: searchbar;
    position: relative;
    top: -50px;
    background: #001;
    border: 1px white solid; }
  /* line 55, ../../src/scss/features.scss */
  .features-container--menu {
    grid-area: menu; }
