@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
/* line 1, ../../src/scss/variables.scss */
:root {
  --navbarHeight: 70px;
  /*Colors*/
  --c1: #aabbcc;
  --c2: #557675;
  --c3: #223344;
  /*Timings*/
  --quick: .5s;
  --lazy: .95s;
  /*ease timing*/
  --bounceEase: cubic-bezier(0.175, 0.985, 0.5, 1.25);
  /*misc settings*/
  --borderRadius: 10px; }

/*HELPERS*/
/* line 16, ../../src/scss/variables.scss */
.r {
  border: 5px red solid; }

/* line 19, ../../src/scss/variables.scss */
.x {
  display: none;
  opacity: 0; }

/* @include LINE(5px)*/
/*MIXIN's*/
/* line 4, ../../src/scss/footer.scss */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--navbarHeight);
  /*background: var(--c2);*/
  background: #001;
  border: 1px white solid;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: var(--c1); }
  /* line 14, ../../src/scss/footer.scss */
  .footer-link {
    color: var(--c1);
    text-decoration: none;
    opacity: .65;
    transition: opacity var(--quick); }
    /* line 19, ../../src/scss/footer.scss */
    .footer-link:hover {
      opacity: 1; }
