@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
/* line 1, ../../src/scss/variables.scss */
:root {
  --navbarHeight: 70px;
  /*Colors*/
  --c1: #aabbcc;
  --c2: #557675;
  --c3: #223344;
  /*Timings*/
  --quick: .5s;
  /*--lazy: .95s;*/
  --lazy: .75s;
  /*ease timing*/
  --bounceEase: cubic-bezier(0.175, 0.985, 0.5, 1.25);
  /*misc settings*/
  --borderRadius: 10px; }

/*HELPERS*/
/* line 17, ../../src/scss/variables.scss */
.r {
  border: 5px red solid; }

/* line 20, ../../src/scss/variables.scss */
.x {
  display: none;
  opacity: 0; }

/* @include LINE(5px)*/
/*MIXIN's*/
/* line 3, ../../src/scss/mainchat-grid.scss */
.mainchat-grid {
  /*@include grid(100%,100%,"1fr","50px calc(77vh - 100px) 50px");*/
  /*@include grid(100%,100%,"1fr","auto 70vh 50px");*/
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 8% 84% 8%;
  grid-template-areas: "title" "messageArea" "sendComponent";
  overflow: hidden;
  /*@include LINE(0px,transparent);*/ }
  /* line 11, ../../src/scss/mainchat-grid.scss */
  .mainchat-grid_title {
    grid-area: title;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 4vw auto 4vw;
    grid-template-rows: 1fr;
    grid-template-areas: "hidden title expand";
    position: relative;
    top: 0px;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: clamp(1.5rem, 1.75rem, 2rem);
    color: white;
    background: #001;
    border: 2px white solid; }
    /* line 24, ../../src/scss/mainchat-grid.scss */
    .mainchat-title_hidden-button {
      grid-area: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      transition: all var(--quick);
      background: #001;
      border: 1px white solid; }
      /* line 61, ../../src/scss/variables.scss */
      .mainchat-title_hidden-button:hover {
        background: var(--c1); }
    /* line 30, ../../src/scss/mainchat-grid.scss */
    .mainchat-title_text {
      grid-area: title;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #001;
      border: 1px white solid; }
    /* line 35, ../../src/scss/mainchat-grid.scss */
    .mainchat-title_expand-button {
      grid-area: expand;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      transition: all var(--quick);
      background: #001;
      border: 1px white solid; }
      /* line 61, ../../src/scss/variables.scss */
      .mainchat-title_expand-button:hover {
        background: var(--c1); }
  /* line 44, ../../src/scss/mainchat-grid.scss */
  .mainchat-grid_message-area {
    grid-area: messageArea;
    overflow-y: auto;
    width: 100%;
    background: #001;
    border: 2px white solid; }
  /* line 50, ../../src/scss/mainchat-grid.scss */
  .mainchat-grid_send-component {
    grid-area: sendComponent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-top: 2px orange solid;
    bottom: 0px;
    width: 100%;
    /*height: 50px;*/
    background: #001;
    border: 2px white solid;
    /*features.scss*/ }
    /* line 61, ../../src/scss/mainchat-grid.scss */
    .mainchat-grid_send-component--send-button {
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
      height: 75%;
      border: 1px white solid;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      transition: all var(--quick); }
      /* line 70, ../../src/scss/mainchat-grid.scss */
      .mainchat-grid_send-component--send-button:hover {
        background: var(--c1); }
    /* line 74, ../../src/scss/mainchat-grid.scss */
    .mainchat-grid_send-component--input {
      width: 60%;
      height: 75%;
      resize: none;
      margin-left: 2px;
      margin-right: 2px;
      padding-left: 10px;
      padding-right: 10px;
      color: #333;
      font-size: 2.85vh;
      font-family: "Roboto Slab", serif; }
      /* line 85, ../../src/scss/mainchat-grid.scss */
      .mainchat-grid_send-component--input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: var(--c1);
        text-align: left;
        opacity: .50; }
      /* line 90, ../../src/scss/mainchat-grid.scss */
      .mainchat-grid_send-component--input::-moz-placeholder {
        /* Firefox 19+ */
        color: var(--c1);
        text-align: left;
        opacity: .50; }
    /* line 96, ../../src/scss/mainchat-grid.scss */
    .mainchat-grid_send-component--features {
      width: 20%;
      height: 100%;
      margin-right: 10px; }
