@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
/* line 1, ../../src/scss/variables.scss */
:root {
  --navbarHeight: 70px;
  /*Colors*/
  --c1: #aabbcc;
  --c2: #557675;
  --c3: #223344;
  /*Timings*/
  --quick: .5s;
  /*--lazy: .95s;*/
  --lazy: .75s;
  /*ease timing*/
  --bounceEase: cubic-bezier(0.175, 0.985, 0.5, 1.25);
  /*misc settings*/
  --borderRadius: 10px; }

/*HELPERS*/
/* line 17, ../../src/scss/variables.scss */
.r {
  border: 5px red solid; }

/* line 20, ../../src/scss/variables.scss */
.x {
  display: none;
  opacity: 0; }

/* @include LINE(5px)*/
/*MIXIN's*/
/* line 3, ../../src/scss/mainchat-grid.scss */
.mainchat-grid {
  /*@include grid(100%,100%,"1fr","50px calc(77vh - 100px) 50px");*/
  /*@include grid(100%,100%,"1fr","auto 70vh 50px");*/
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 8% 84% 8%;
  grid-template-areas: "title" "messageArea" "sendComponent";
  overflow: hidden;
  /*///////////////////////////////////////////////////////*/
  /*///////////////////////////////////////////////////////*/
  /*///////////////////////////////////////////////////////*/
  /*@include LINE(0px,transparent);*/ }
  /* line 12, ../../src/scss/mainchat-grid.scss */
  .mainchat-grid_title {
    grid-area: title;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 4vw auto 4vw;
    grid-template-rows: 1fr;
    grid-template-areas: "hidden title expand";
    position: relative;
    top: 0px;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: clamp(1.5rem, 1.75rem, 2rem);
    color: white;
    background: #001;
    border: 2px white solid; }
    /* line 25, ../../src/scss/mainchat-grid.scss */
    .mainchat-title_hidden-button {
      grid-area: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      transition: all var(--quick);
      background: #001;
      border: 1px white solid; }
      /* line 61, ../../src/scss/variables.scss */
      .mainchat-title_hidden-button:hover {
        background: var(--c1); }
    /* line 31, ../../src/scss/mainchat-grid.scss */
    .mainchat-title_text {
      grid-area: title;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #001;
      border: 1px white solid; }
    /* line 36, ../../src/scss/mainchat-grid.scss */
    .mainchat-title_expand-button {
      grid-area: expand;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      transition: all var(--quick);
      background: #001;
      border: 1px white solid; }
      /* line 61, ../../src/scss/variables.scss */
      .mainchat-title_expand-button:hover {
        background: var(--c1); }
  /* line 45, ../../src/scss/mainchat-grid.scss */
  .mainchat-grid_message-area {
    grid-area: messageArea;
    overflow-y: auto;
    width: 100%;
    background: #001;
    border: 2px white solid; }
  /* line 54, ../../src/scss/mainchat-grid.scss */
  .mainchat-grid_send-component {
    grid-area: sendComponent;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "sendButton input features";
    position: relative;
    border-top: 2px orange solid;
    bottom: 0px;
    width: 100%;
    /*height: 50px;*/
    height: 100%;
    padding-right: 20px;
    background: #001;
    border: 2px white solid; }
    /* line 68, ../../src/scss/mainchat-grid.scss */
    .mainchat-grid_send-component--send-button {
      grid-area: sendButton;
      margin: 5px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      /*height: 75%;*/
      height: 40px;
      border: 1px white solid;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      transition: all var(--quick); }
      /* line 81, ../../src/scss/mainchat-grid.scss */
      .mainchat-grid_send-component--send-button:hover {
        background: var(--c1); }
    /* line 85, ../../src/scss/mainchat-grid.scss */
    .mainchat-grid_send-component--input {
      grid-area: input;
      width: 95%;
      /*height: 75%;*/
      height: 40px;
      margin: 5px auto;
      padding-left: 10px;
      padding-right: 10px;
      color: #333;
      font-size: 2.85vh;
      border: 0px red solid;
      font-family: "Roboto Slab", serif; }
      /* line 98, ../../src/scss/mainchat-grid.scss */
      .mainchat-grid_send-component--input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: var(--c1);
        text-align: left;
        opacity: 0.5; }
      /* line 104, ../../src/scss/mainchat-grid.scss */
      .mainchat-grid_send-component--input::-moz-placeholder {
        /* Firefox 19+ */
        color: var(--c1);
        text-align: left;
        opacity: 0.5; }
    /* line 111, ../../src/scss/mainchat-grid.scss */
    .mainchat-grid_send-component--features {
      width: 200px;
      grid-area: features;
      display: grid;
      position: relative;
      grid-template-columns: 50% 25% 25%;
      grid-template-areas: "searchinput emojis gifs";
      /*height: 75%;*/
      height: 40px;
      margin: 8px auto; }
      /* line 124, ../../src/scss/mainchat-grid.scss */
      .mainchat-grid_send-component--features__search-input {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.25rem;
        font-family: "Roboto Slab", serif;
        color: var(--c3); }
        /* line 132, ../../src/scss/mainchat-grid.scss */
        .mainchat-grid_send-component--features__search-input::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: var(--c1);
          text-align: center;
          opacity: 0.5; }
        /* line 138, ../../src/scss/mainchat-grid.scss */
        .mainchat-grid_send-component--features__search-input::-moz-placeholder {
          /* Firefox 19+ */
          color: var(--c1);
          text-align: center;
          opacity: 0.5; }
      /* line 145, ../../src/scss/mainchat-grid.scss */
      .mainchat-grid_send-component--features__emojis-button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        transition: all var(--quick);
        border: 1px white solid; }
        /* line 61, ../../src/scss/variables.scss */
        .mainchat-grid_send-component--features__emojis-button:hover {
          background: var(--c1); }
        /* line 151, ../../src/scss/mainchat-grid.scss */
        .mainchat-grid_send-component--features__emojis-button > span {
          user-select: none;
          transform: scale(1.75); }
      /* line 156, ../../src/scss/mainchat-grid.scss */
      .mainchat-grid_send-component--features__gifs-button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        transition: all var(--quick);
        border: 1px white solid;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; }
        /* line 61, ../../src/scss/variables.scss */
        .mainchat-grid_send-component--features__gifs-button:hover {
          background: var(--c1); }
      /* line 165, ../../src/scss/mainchat-grid.scss */
      .mainchat-grid_send-component--features__menu {
        display: flex;
        flex-wrap: wrap;
        width: 215px;
        height: 200px;
        position: relative;
        top: -240px;
        border: 2px white solid;
        background: transparent;
        background-size: cover;
        overflow: scroll; }
        /* line 176, ../../src/scss/mainchat-grid.scss */
        .mainchat-grid_send-component--features__menu--randomGIF {
          position: relative;
          width: 100%;
          justify-content: center;
          align-items: center; }
        /* line 182, ../../src/scss/mainchat-grid.scss */
        .mainchat-grid_send-component--features__menu--gifSearchItems {
          width: 100px;
          height: 100px;
          transition: all .35s; }
          /* line 186, ../../src/scss/mainchat-grid.scss */
          .mainchat-grid_send-component--features__menu--gifSearchItems:hover {
            border: 5px white solid; }
