@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
/* line 1, ../../src/scss/variables.scss */
:root {
  --navbarHeight: 70px;
  /*Colors*/
  --c1: #aabbcc;
  --c2: #557675;
  --c3: #223344;
  /*Timings*/
  --quick: .5s;
  /*--lazy: .95s;*/
  --lazy: .75s;
  /*ease timing*/
  --bounceEase: cubic-bezier(0.175, 0.985, 0.5, 1.25);
  /*misc settings*/
  --borderRadius: 10px; }

/*HELPERS*/
/* line 17, ../../src/scss/variables.scss */
.r {
  border: 5px red solid; }

/* line 20, ../../src/scss/variables.scss */
.x {
  display: none;
  opacity: 0; }

/* @include LINE(5px)*/
/*MIXIN's*/
/* line 4, ../../src/scss/prime-container.scss */
.prime-container {
  transform: scale(0.75);
  /*background: var(--c3);*/
  background: #001;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 70px;
  grid-template-areas: "header" "mainbody" "footer";
  overflow: hidden;
  /*-->header.scss*/
  /*-->mainbody.scss*/
  /*-->footer.scss*/ }
  /* line 13, ../../src/scss/prime-container.scss */
  .prime-container_header {
    grid-area: header;
    width: 100%; }
  /* line 18, ../../src/scss/prime-container.scss */
  .prime-container_mainbody {
    grid-area: mainbody;
    width: 100%; }
  /* line 22, ../../src/scss/prime-container.scss */
  .prime-container_footer {
    grid-area: footer;
    width: 100%; }

/* line 5, ../../src/scss/mainbody.scss */
.mainbody {
  display: flex;
  width: 100%;
  flex-direction: column;
  /*justify-content: center;*/
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  /*background: #333;*/
  /*@include LINE(5px);*/
  border: 5px green solid;
  color: white;
  overflow: hidden; }
