@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
/* line 1, ../../src/scss/variables.scss */
:root {
  --navbarHeight: 70px;
  /*Colors*/
  --c1: #aabbcc;
  --c2: #557675;
  --c3: #223344;
  /*Timings*/
  --quick: .5s;
  --lazy: .95s;
  /*ease timing*/
  --bounceEase: cubic-bezier(0.175, 0.985, 0.5, 1.25);
  /*misc settings*/
  --borderRadius: 10px; }

/*HELPERS*/
/* line 16, ../../src/scss/variables.scss */
.r {
  border: 5px red solid; }

/* line 19, ../../src/scss/variables.scss */
.x {
  display: none;
  opacity: 0; }

/* @include LINE(5px)*/
/*MIXIN's*/
/* line 4, ../../src/scss/mainchat-grid.scss */
.mainchat-grid {
  /*@include grid(100%,100%,"1fr","50px calc(77vh - 100px) 50px");*/
  /*@include grid(100%,100%,"1fr","auto 70vh 50px");*/
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 8% 84% 8%;
  grid-template-areas: "title" "messageArea" "sendComponent";
  overflow: hidden;
  /*@include LINE(0px,transparent);*/ }
  /* line 12, ../../src/scss/mainchat-grid.scss */
  .mainchat-grid_title {
    grid-area: title;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 4vw auto 4vw;
    grid-template-rows: 1fr;
    grid-template-areas: "hidden title expand";
    position: relative;
    top: 0px;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: clamp(1.5rem, 1.75rem, 2rem);
    color: white;
    background: #122;
    border: 2px white solid; }
    /* line 25, ../../src/scss/mainchat-grid.scss */
    .mainchat-title_hidden-button {
      grid-area: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      transition: all var(--quick);
      background: #122;
      border: 1px white solid; }
      /* line 68, ../../src/scss/variables.scss */
      .mainchat-title_hidden-button:hover {
        background: var(--c1); }
    /* line 32, ../../src/scss/mainchat-grid.scss */
    .mainchat-title_text {
      grid-area: title;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #122;
      border: 1px white solid; }
    /* line 37, ../../src/scss/mainchat-grid.scss */
    .mainchat-title_expand-button {
      grid-area: expand;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      transition: all var(--quick);
      background: #122;
      border: 1px white solid; }
      /* line 68, ../../src/scss/variables.scss */
      .mainchat-title_expand-button:hover {
        background: var(--c1); }
  /* line 46, ../../src/scss/mainchat-grid.scss */
  .mainchat-grid_message-area {
    grid-area: messageArea;
    overflow-y: auto;
    width: 100%;
    background: #122;
    border: 2px white solid; }
  /* line 52, ../../src/scss/mainchat-grid.scss */
  .mainchat-grid_send-component {
    grid-area: sendComponent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-top: 2px orange solid;
    bottom: 0px;
    width: 100%;
    /*height: 50px;*/
    background: #122;
    border: 2px white solid; }
    /* line 63, ../../src/scss/mainchat-grid.scss */
    .mainchat-grid_send-component--send-button {
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
      height: 75%;
      border: 1px white solid;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      transition: all var(--quick); }
      /* line 72, ../../src/scss/mainchat-grid.scss */
      .mainchat-grid_send-component--send-button:hover {
        background: var(--c1); }
    /* line 76, ../../src/scss/mainchat-grid.scss */
    .mainchat-grid_send-component--input {
      width: 60%;
      height: 75%;
      margin-left: 2px;
      margin-right: 2px;
      padding-left: 10px;
      padding-right: 10px;
      color: #333;
      font-size: 3vh;
      font-family: "Merienda", cursive; }
    /* line 87, ../../src/scss/mainchat-grid.scss */
    .mainchat-grid_send-component--features {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-right: 10px;
      width: 20%;
      height: 75%;
      border: 1px white solid; }
      /* line 97, ../../src/scss/mainchat-grid.scss */
      .mainchat-grid_send-component--features_emojis {
        display: flex;
        justify-content: center;
        width: 25%;
        height: 100%;
        padding: 2px 0px;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        transition: all var(--quick);
        background: #122;
        border: 0.5px white solid; }
        /* line 68, ../../src/scss/variables.scss */
        .mainchat-grid_send-component--features_emojis:hover {
          background: var(--c1); }
      /* line 106, ../../src/scss/mainchat-grid.scss */
      .mainchat-grid_send-component--features_gifs {
        display: flex;
        justify-content: center;
        width: 25%;
        height: 100%;
        padding: 2px 0px;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        transition: all var(--quick);
        background: #122;
        border: 0.5px white solid; }
        /* line 68, ../../src/scss/variables.scss */
        .mainchat-grid_send-component--features_gifs:hover {
          background: var(--c1); }
      /* line 115, ../../src/scss/mainchat-grid.scss */
      .mainchat-grid_send-component--features_images {
        display: flex;
        justify-content: center;
        width: 25%;
        height: 100%;
        padding: 2px 0px;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        transition: all var(--quick);
        background: #122;
        border: 0.5px white solid; }
        /* line 68, ../../src/scss/variables.scss */
        .mainchat-grid_send-component--features_images:hover {
          background: var(--c1); }
      /* line 124, ../../src/scss/mainchat-grid.scss */
      .mainchat-grid_send-component--features_darkmode {
        display: flex;
        justify-content: center;
        width: 25%;
        height: 100%;
        padding: 2px 0px;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        transition: all var(--quick);
        background: #122;
        border: 0.5px white solid; }
        /* line 68, ../../src/scss/variables.scss */
        .mainchat-grid_send-component--features_darkmode:hover {
          background: var(--c1); }
