@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
/* line 1, ../../src/scss/variables.scss */
:root {
  --navbarHeight: 70px;
  /*Colors*/
  --c1: #aabbcc;
  --c2: #557675;
  --c3: #223344;
  /*Timings*/
  --quick: .5s;
  /*--lazy: .95s;*/
  --lazy: .75s;
  /*ease timing*/
  --bounceEase: cubic-bezier(0.175, 0.985, 0.5, 1.25);
  /*misc settings*/
  --borderRadius: 10px; }

/*HELPERS*/
/* line 17, ../../src/scss/variables.scss */
.r {
  border: 5px red solid; }

/* line 20, ../../src/scss/variables.scss */
.x {
  display: none;
  opacity: 0; }

/* @include LINE(5px)*/
/*MIXIN's*/
/* line 4, ../../src/scss/modals.scss */
.signin-modal {
  display: block;
  /*<--*/
  opacity: 1; }

/* line 17, ../../src/scss/modals.scss */
.modal-screen {
  display: block;
  position: absolute;
  top: var(--navbarHeight);
  left: 0;
  width: 100%;
  height: 83.15vh;
  opacity: .85;
  background: #001;
  border: 2px white solid; }

/*,#invite-modal-screen*/
/* line 23, ../../src/scss/modals.scss */
.signin-modal-message-box {
  position: absolute;
  display: grid;
  width: 40%;
  height: 200px;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 1fr 15%;
  grid-template-areas: "title" "input" "space";
  padding: 5px;
  top: 35%;
  left: 30%;
  text-align: center;
  border-radius: var(--borderRadius);
  background: #001;
  border: 2px white solid;
  opacity: 1;
  /*display: none;*/ }
  /* line 38, ../../src/scss/modals.scss */
  .signin-modal-message-box--title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    padding: 25px;
    font-size: clamp(2.5vh, 3.5vh, 3.75vh);
    border-bottom: 2px rgba(255, 255, 255, 0.75) solid; }
  /* line 46, ../../src/scss/modals.scss */
  .signin-modal-message-box--input {
    grid-area: input;
    position: relative;
    top: 20%;
    width: 75%;
    font-size: clamp(3vh, 3.5vh, 3.75vh);
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    color: var(--c2);
    font-family: "Merienda", cursive; }
  /* line 58, ../../src/scss/modals.scss */
  .signin-modal-message-box--space {
    grid-area: space;
    border-top: 2px rgba(255, 255, 255, 0.75) solid;
    padding: 5px;
    font-family: "Montserrat", sans-serif; }
