@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
/* line 1, ../../src/scss/variables.scss */
:root {
  --navbarHeight: 70px;
  /*Colors*/
  --c1: #aabbcc;
  --c2: #557675;
  --c3: #223344;
  /*Timings*/
  --quick: .5s;
  --lazy: .95s;
  /*ease timing*/
  --bounceEase: cubic-bezier(0.175, 0.985, 0.5, 1.25);
  /*misc settings*/
  --borderRadius: 10px; }

/*HELPERS*/
/* line 16, ../../src/scss/variables.scss */
.r {
  border: 5px red solid; }

/* line 19, ../../src/scss/variables.scss */
.x {
  display: none;
  opacity: 0; }

/* @include LINE(5px)*/
/*MIXIN's*/
/* line 4, ../../src/scss/prime-container.scss */
.prime-container {
  /*background: var(--c3);*/
  background: #001;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 70px auto 70px;
  grid-template-areas: "header" "mainbody" "footer";
  overflow: hidden;
  /*-->header.scss*/
  /*-->mainbody.scss*/
  /*-->footer.scss*/ }
  /* line 12, ../../src/scss/prime-container.scss */
  .prime-container_header {
    grid-area: header;
    width: 100%;
    background: #001;
    border: 3px white solid; }
  /* line 17, ../../src/scss/prime-container.scss */
  .prime-container_mainbody {
    grid-area: mainbody;
    width: 100%; }
  /* line 21, ../../src/scss/prime-container.scss */
  .prime-container_footer {
    grid-area: footer;
    background: #001;
    border: 3px white solid;
    width: 100%; }
