/* line 1, ../../src/scss/variables.scss */
:root {
  --navbarHeight: 70px;
  /*Colors*/
  --c1: #aabbcc;
  --c2: #557675;
  --c3: #223344;
  /*Timings*/
  --quick: .5s;
  /*--lazy: .95s;*/
  --lazy: .75s;
  /*ease timing*/
  --bounceEase: cubic-bezier(0.175, 0.985, 0.5, 1.25);
  /*misc settings*/
  --borderRadius: 10px; }

/*HELPERS*/
/* line 17, ../../src/scss/variables.scss */
.r {
  border: 5px red solid; }

/* line 20, ../../src/scss/variables.scss */
.x {
  display: none;
  opacity: 0; }

/* @include LINE(5px)*/
/*MIXIN's*/
/* width */
/* line 5, ../../src/scss/scroll-component.scss */
::-webkit-scrollbar {
  width: 20px; }

/* Track */
/* line 11, ../../src/scss/scroll-component.scss */
::-webkit-scrollbar-track {
  background: transparent; }

/* Handle */
/* line 16, ../../src/scss/scroll-component.scss */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 15px;
  box-shadow: inset 2px 0px 2px var(--c2); }

/* Handle on hover */
/* line 23, ../../src/scss/scroll-component.scss */
::-webkit-scrollbar-thumb:hover {
  background: var(--c3); }
