<div class="features-container">
	<div class="features-container--buttons">
		<a href="#" class="features-container--buttons__emojis">X</a>
		<a href="#" class="features-container--buttons__gifs">X</a>
		<a href="#" class="features-container--buttons__images">X</a>
		<a href="#" class="features-container--buttons__darkmode">X</a>
	</div>
	<div class="features-container--search-bar"></div>
	<div class="features-container--menu"></div>
			
	
	
</div>







 <!-- <span>&#128540</span> -->