<div class="modal-screen" id="invite-modal-screen"></div>
<div class="invite-modal-message-box" id="invite-modal-message-box">
	<div class="invite-modal-message-box_title" id="invite-modal-message-box_title"></div>
	<div class="invite-modal-message-box_sidechat-button ">
        <a href="#" class="sidechat-invite-button--yes" id="yes"><div >random yes</div></a>
        <a href="#" class="sidechat-invite-button--no" id="no"><div >random no</div></a>
        
    </div>
<div >