<div class="mainchat-grid">
	
	<div class="mainchat-grid_title">
		<a href="#" class="mainchat-title_hidden-button" id="mainchat-hidden"><div></div></a>
		
		<div class="mainchat-title_text">mainchat</div>
		<a href="#" class="mainchat-title_expand-button" id="mainchat-expand"><div >></div></a>
		
	</div>

	<div class="mainchat-grid_message-area" id="mainchat-messageArea"></div>


	<div class="mainchat-grid_send-component">
		<!-- ADD THESE TO SIDECHAT TOO -->
		<a href="#" class="mainchat-grid_send-component--send-button" id="mainchat-sendButton"><div >SEND</div></a>
		<input type="text" class="mainchat-grid_send-component--input" id="mainchat-input" placeholder="send a message..." autofocus/>
		<div class="mainchat-grid_send-component--features">
			<a href="#" class="mainchat-grid_send-component--features_emojis"><div >X</div></a>
			<a href="#" class="mainchat-grid_send-component--features_gifs"><div >X</div></a>
			<a href="#" class="mainchat-grid_send-component--features_images"><div >X</div></a>
			<a href="#" class="mainchat-grid_send-component--features_darkmode"><div >X</div></a>
			
		</div>
	</div>
</div>
