

<div class="mainchat-grid">
   <div class="mainchat-grid_title">
      <a href="#" class="mainchat-title_hidden-button" id="mainchat-hidden">
         <div></div>
      </a>
      <div class="mainchat-title_text">mainchat</div>
      <a href="#" class="mainchat-title_expand-button" id="mainchat-expand">
         <div ></div>
      </a>
   </div>
   <div class="mainchat-grid_message-area" id="mainchat-messageArea"></div>

   <div class="mainchat-grid_send-component" id="mainchat-grid_send-component">
      <a href="#" class="mainchat-grid_send-component--send-button" id="mainchat-sendButton">
         <div >SEND</div>
      </a>
      <input type="text" class="mainchat-grid_send-component--input" id="mainchat-input" placeholder="send a message" autofocus />

      <div class="mainchat-grid_send-component--features">
         <input class="mainchat-grid_send-component--features__search-input" placeholder="search" id="features-search-input"/>
         <!-- <div class="mainchat-grid_send-component--features__emojis-button" id="features-emojis-button"></div> -->
         <a href="#" class="mainchat-grid_send-component--features__emojis-button" id="features-emojis-button"><span></span></a>
         <div class="mainchat-grid_send-component--features__gifs-button" id="features-gifs-button">gif</div>
         

      </div>
   </div><!--class="mainchat-grid_send-component"-->
</div>

