<div class="mainbody">

	<div class="chat-area defaultGrid" id="chat-area">
		<div class="chat-area_mainchat-window" id="mainchat">
			{{>mainchat_window}}
		</div>
		
	</div>
	<div class="signin-modal" id="signin-modal">
		{{>signin_modal}}
	</div>
</div>