<div class="mainbody">

	<div class="chat-area defaultGrid" id="chat-area">
		<div class="chat-area_mainchat-window" id="mainchat">
			{{>mainchat_window}}
		</div>
		<div class="chat-area_sidechat1-window sidechat1" id="sidechat1">{{>sidechat1_window}}</div>
		<div class="chat-area_sidechat2-window sidechat2" id="sidechat2">{{>sidechat2_window}}</div>
	</div>
	<div class="signin-modal" id="signin-modal">
		{{>signin_modal}}
	</div>
	<div class="invite-modal" id="invite-modal">
		{{>invite_modal}}
	</div>	
</div>