<div class="sidechat-grid">
	<!-- <div class="sidechat-grid_title">side chat</div> -->
	<div class="sidechat-grid_title">
		<a href="#" class="sidechat-title_expand-button" id="sidechat-expand"><div ><<</div></a>
		
		<div class="sidechat-title_text">sidechat with {{receiver}}</div>
		<a href="#" class="sidechat-title_close-button"><div >X</div></a>
		
	</div>

	
	<div class="sidechat-grid_message-area" id="sidechat1-messages"></div>

	<div class="sidechat-grid_send-component">
		<a href="#" class="sidechat-grid_send-component--send-button" id="sidechat1-send-button"><div>S</div></a>		
		<input type="text" class="sidechat-grid_send-component--input" placeholder="send a message..." id="sidechat1-input"></input>
		<div class="sidechat-grid_send-component--features">
			<a href="#" class="sidechat-grid_send-component--features_emojis"><div >X</div></a>
			<a href="#" class="sidechat-grid_send-component--features_gifs"><div >X</div></a>
			<a href="#" class="sidechat-grid_send-component--features_images"><div >X</div></a>
			
		</div>
	</div>
</div>