<div class="modal-screen" id="sigin-modal-screen"></div>
<div class="signin-modal-message-box" id="signin-modal-message-box">
	<div class="signin-modal-message-box--title">Please enter your screenname</div>
	<div >
		<input type="text" name="signin" class="signin-modal-message-box--input" id="signin-modal-message-box--input">
	</div>
	<div class="signin-modal-message-box--space">press Enter</div>
</div>