<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/styles.css" />
        <script>
            const gifAPIkey = `{{gifAPIkey}}`;
            const emojiAPIkey = `{{emojiAPIkey}}`;
        </script>
        <title>{{title}}</title>
    </head>
    <body>
        <div class="prime-container">
            <div class="prime-container_header">{{>header}}</div>
            
            <div class="prime-container_mainbody">{{>mainbody}}</div>
            
            <div class="prime-container_footer">{{>footer}}</div>
        </div>

            
            
            


        <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
        <script type="module" src="./js/client-socket.js"></script>
        <script type="module" src="./js/signin-modal.js"></script>

        <script type="module" src="./js/emojiGif.js"></script>
        <script type="module" src="./js/sanitize.js"></script>

        
        <!-- <script type="module" src="./js/sidechats.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
        <!-- <script src="https://cdn.tiny.cloud/1/ra92hfz3gsoknrafsbcqjegh5oiq5js3xywbwok9w6t2usq1/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script> -->
        <!-- <script>
          tinymce.init({
            selector: ".mainchat-grid_send-component--features__search-input",
            plugins: "emoticons",
            toolbar: "emoticons",
            toolbar_location: "bottom",
            menubar: false
          });
        </script>  -->             
        
        
    </body>

