@import "variables";
@import "font";

.features-container {
  @mixin buttonize {
    width: 100%;
    height: 85%;
    
    @include LINE(1px);
  }
  margin:  6px auto;
  @include grid(100%, 75%, "1fr", "75% repeat(2,1fr)");
  grid-template-areas:
    "menu"
    "searchbar"
    "buttons";
  border: 3px white solid;
  @include LINE(2.5px);

  &--buttons {
    grid-area: buttons;
    position: relative;
    @include grid(100%, 50px, "repeat(4,1fr)", "1fr");
    grid-template-areas: "emoji gifs images dark";
    @include LINE(1px);
    &__emojis {
      position: relative;
      grid-area: emoji;
      @include buttonize;
    }
    &__gifs{
      position: relative;
    	grid-area: gifs;
      @include buttonize;
    }
    &__images{
      position: relative;
    	grid-area: images;
      @include buttonize;
    }
    &__darkmode{
      position: relative;
    	grid-area: dark;
      @include buttonize;
    }
  }
  &--search-bar {
    grid-area: searchbar;
  }
  &--menu {
    grid-area: menu;
  }
}
