@import "variables";
@import "font";

.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--navbarHeight);
	/*background: var(--c2);*/
	@include LINE(1px);
	@include siteFont;
	font-size: 2rem;	
	color: var(--c1);
	&-link{
		color: var(--c1);
		text-decoration:none;
		opacity: .65;
		transition: opacity var(--quick);
		&:hover{
			opacity: 1;
		}	
		
	}
}