@import "variables";
@import "font";

.header{
	display: flex;
	align-items: center;
	height: var(--navbarHeight);
	/*background: var(--c2);*/
	overflow: hidden;
	@include LINE(1px);
	&-title{
		padding: 0px 20px ;
		background: transparent;
		/*@include LINE(3px);*/
		&_a{
		@include siteFont;
			font-size: clamp(2.75rem,3.5rem,4rem);
			color: var(--c1);
			text-decoration:none;
			opacity: .65;
			transition: opacity var(--quick);
			&:hover{
				opacity: 1;
			}
		}
	}
}