@import "variables";
@import "font";
.mainchat-grid{
	/*@include grid(100%,100%,"1fr","50px calc(77vh - 100px) 50px");*/
	/*@include grid(100%,100%,"1fr","auto 70vh 50px");*/
	@include grid(100%,100%,"1fr","8% 84% 8%");
	grid-template-areas: "title"
						 "messageArea"
						 "sendComponent";
	overflow: hidden;
	&_title{
		grid-area: title;
		@include grid(100%,100%,"4vw auto 4vw","1fr");
		grid-template-areas:"hidden title expand";
		position: relative;
		top: 0px;
		text-align: center;
		@include minorFont;
		font-size: clamp(1.5rem,1.75rem,2rem);
		color: white;
		@include LINE(2px);
		@at-root{
			.mainchat-title{
				&_hidden-button{
					grid-area: hidden;
					@include flexCenter;
					@include buttonize;
					@include LINE(1px);
				}
				&_text{
					grid-area: title;
					@include flexCenter;
					@include LINE(1px);
				}
				&_expand-button{
					grid-area: expand;
					@include flexCenter;
					@include buttonize;
					@include LINE(1px);
				}
			}
		}
	}
	&_message-area{
		grid-area: messageArea;
        overflow-y:auto;
		width: 100%;
		@include LINE(2px);
	}
	&_send-component{
		grid-area: sendComponent;
		display:flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		border-top: 2px orange solid;
		bottom: 0px;
		width: 100%;
		/*height: 50px;*/
		@include LINE(2px);
		&--send-button{
			margin-left: 10px;
			@include flexCenter;
			width: 15%;
			height: 75%;
			border: 1px white solid;
			text-decoration: none;
			@include siteFont;
			transition: all var(--quick);
			&:hover{
				background: var(--c1);
			}
		}
		&--input{
			width: 60%;
			height: 75%;
 			resize: none;
			margin-left: 2px;
			margin-right: 2px;
			padding-left: 10px;
			padding-right: 10px;
			color: #333;
			font-size: 2.85vh;
			@include minorFont;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: var(--c1);
			  text-align: left;
			  opacity: .50;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: var(--c1);
			  text-align: left;
			  opacity: .50;
			}
		}
		&--features{
			width: 20%;
			height: 75%;
  		margin-right: 10px;
		}
		/*features.scss*/
	}	
	/*@include LINE(0px,transparent);*/
}