@import "variables";
@import "font";
.mainchat-grid {
	/*@include grid(100%,100%,"1fr","50px calc(77vh - 100px) 50px");*/
	/*@include grid(100%,100%,"1fr","auto 70vh 50px");*/
	@include grid(100%, 100%, "1fr", "92% 8%");
	grid-template-areas:
		// "title"
		"messageArea"
		"sendComponent";
	overflow: hidden;
	// &_title {
	// 	grid-area: title;
	// 	@include grid(100%, 100%, "4vw auto 4vw", "1fr");
	// 	grid-template-areas: "hidden title expand";
	// 	position: relative;
	// 	top: 0px;
	// 	text-align: center;
	// 	@include minorFont;
	// 	font-size: clamp(1.5rem, 1.75rem, 2rem);
	// 	color: white;
	// 	@include LINE(2px);
	// 	@at-root {
	// 		.mainchat-title {
	// 			&_hidden-button {
	// 				grid-area: hidden;
	// 				@include flexCenter;
	// 				@include buttonize;
	// 				@include LINE(1px);
	// 			}
	// 			&_text {
	// 				grid-area: title;
	// 				@include flexCenter;
	// 				@include LINE(1px);
	// 			}
	// 			&_expand-button {
	// 				grid-area: expand;
	// 				@include flexCenter;
	// 				@include buttonize;
	// 				@include LINE(1px);
	// 			}
	// 		}
	// 	}
	// }
	&_message-area {
		grid-area: messageArea;
		overflow-y: auto;
		width: 100%;
		padding: 20px;
		@include LINE(2px);
	}
	/*///////////////////////////////////////////////////////*/
	/*///////////////////////////////////////////////////////*/
	/*///////////////////////////////////////////////////////*/
	&_send-component {
		grid-area: sendComponent;
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 20% 60% 20%;
		grid-template-areas: "sendButton input features";
		position: relative;
		border-top: 2px orange solid;
		bottom: 0px;
		width: 100%;
		height: 100%;
		padding: 10px 20px;
		// padding-right: 20px;
		@include LINE(2px);
		&--send-button {
			grid-area: sendButton;
			margin: 5px auto;
			@include flexCenter;
			width: 90%;
			/*height: 75%;*/
			height: 40px;
			border: 1px white solid;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
			text-decoration: none;
			@include siteFont;
			transition: all var(--quick);
			&:hover {
				background: var(--c1);
			}
		}
		&--input {
			grid-area: input;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 95%;
			height: 40px;
			margin: 5px auto;
			padding-left: 10px;
			padding-right: 10px;
			color: #333;
			font-size: 2.85vh;
			border: 0px red solid;
			// border-radius: 5px;
			@include minorFont;
			&::-webkit-input-placeholder {
				/* Chrome/Opera/Safari */
				color: var(--c1);
				text-align: left;
				opacity: 0.5;
			}
			&::-moz-placeholder {
				/* Firefox 19+ */
				color: var(--c1);
				text-align: left;
				opacity: 0.5;
			}
		}
		&--features {
			width: 100%;
			grid-area: features;
			display: grid;
			position: relative;
			margin-top: 5px;
			margin-bottom: 5px;
			grid-template-columns: 75% 25%;
			// grid-template-areas: "searchinput emojis gifs";
			grid-template-areas: "searchinput gifs";

			&__search-input{
				height: 40px;
				padding-left: 15px;
				padding-right: 15px;
				// margin-top: 5px;
				// margin-bottom: 5px;
				font-size: 1.25rem;
				@include minorFont;
				color: var(--c3);
				&::-webkit-input-placeholder {
				/* Chrome/Opera/Safari */
					color: var(--c1);
					text-align: center;
					opacity: 0.5;
				}
				&::-moz-placeholder {
					/* Firefox 19+ */
					color: var(--c1);
					text-align: center;
					opacity: 0.5;
				}
			}
			// &__emojis-button{
			// 	display: flex;
			// 	justify-content: center;
			// 	align-items: center;
			// 	@include buttonize;
			// 	border: 1px white solid;
			// 	&>span{
			// 		user-select: none; 
			// 		transform: scale(1.75);
			// 	}
			// }
			&__gifs-button{
				display: flex;
				position: relative;
				justify-content: center;
				align-items: center;
				height: 40px;
				@include buttonize;
				border: 1px white solid;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
			}
			&__menu{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;
				opacity:0;
				flex-wrap: wrap;
				width: 280px;
				/*height: 200px;*/
				position: absolute;
				top: -215px;
				border: 2px white solid;
				background-size: cover;
				overflow: scroll;
				transform-origin: 100%;

				&--randomGIF{
					position: relative;
					width: 100%;
				}
				&--gifSearchItems{
					opacity:1;
					width: 124px;
					height: 124px;
					border:  1px white solid;
					transition: all .35s;
					&:hover{
						border: 1px white solid;
					}
				}
				@at-root{
					#features-menu-closeButton{
						width: 25px;
						height: 25px;
						border: 2px red solid;
					}
				}
			}

		}
	}
	/*@include LINE(0px,transparent);*/
}