@import "variables";

.messageObj{
    /*display: block;*/
    display:inline-block;
    width: 55%;
    text-align:  left;
    border: 1px white solid;
  &--message-date{
    display: inline;
    position: relative;
    font-size: .85rem;
    font-weight: 900;
    opacity: .5;
  }
  &--screenname{
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    font-size: 1.25rem;
    text-decoration: none;
  }
  &--message{
    padding: 5px;
    padding-left: 25px;
  }
  &--image{
    border-top: 2px white solid;
    height: 500px;
    @include LINE(1px);
  }
}
.others-message{
  /*display:inline-block;*/
  
  text-align: right;
  position: relative;
  right: -45%;
}
