@import "variables";
@import "font";

.signin-modal{
	display: block;/*<--*/
	opacity: 1;
}
@mixin modal{
	display: block;
	position: absolute;
	top: var(--navbarHeight);
	left:0;
	width: 100%;
	height: 82.5vh;
	opacity: .75;
}
.modal-screen{
	@include modal;
	@include LINE(2px);
}
/*,#invite-modal-screen*/

.signin-modal-message-box{
	position: absolute;
	@include grid(40%,200px,"1fr","30% 1fr 15%");
	grid-template-areas: "title"
						 "input"
						 "space";
	padding: 5px;
	top:  35%;
	left: 30%;
	text-align: center;
	border-radius:  var(--borderRadius);
	@include LINE(2px);
	opacity:1;
	/*display: none;*/

	&--title{
		grid-area: title;
		@include flexCenter;
		@include siteFont;
		padding:  25px;
		font-size:  clamp(2.5vh,3.5vh,3.75vh);
		border-bottom:  2px rgba(255,255,255,.75) solid;
	}
	&--input{
		grid-area: input;
		position: relative;
		top: 20%;
		width: 75%;
		font-size: clamp(3vh,3.5vh,3.75vh);
		padding-left: 5px;
		padding-right: 5px;
		text-align:  center;
		color: var(--c2);
		@include accentFont;
	}
	&--space{
		grid-area: space;
		border-top: 2px rgba(255,255,255,.75) solid;
		padding: 5px;
		@include siteFont;
	}
}

.invite-modal-message-box{
	position: absolute;
	@include grid(40%,200px,"1fr","50% 50%");
	grid-template-areas: "invite"
						 "buttons"
						 ;
	padding: 5px;
	top:  35%;
	left: 30%;
	text-align: center;
	border-radius: var(--borderRadius);
	@include LINE(2px);
	
	&_title{
		grid-area: invite;
		@include flexCenter;
		@include siteFont;
		padding:  20px;
		font-size:  clamp(3.25vh,3.5vh,3.75vh);
		border-bottom:  2px rgba(255,255,255,.75) solid;
	}
	&_sidechat-button{
		width: 100%;
		height: 100px;
		
		@include LINE(1px);
		margin:  auto;
		@at-root{
			#yes{
				@include flexCenter;
				width: 100%;
				height: clamp(15px,50px,50px);
				@include buttonize;
				padding: 5px;
				/*@include LINE(1px);*/
				/*------------------added------------------*/
				text-decoration: none;
			    @include siteFont;
			    transition: all var(--quick);
			    &:hover{
			        background: var(--c1);
			    }
			    /*------------------added------------------*/
			}
			#no{
				@include flexCenter;
				width: 100%;
				height: clamp(15px,50px,50px);
				@include buttonize;
				padding: 5px;
				@include LINE(1px);
			}
		}
	}
}
