@import "variables";
@import "font";

body{
	display: flex;
	justify-content: center;
	// align-items: center;
}
.prime-container{
	position: absolute;
	transform: scale(.65);
	margin: 0 auto;
	background: #001;
	@include grid(80%,100vh,"1fr","70px 1fr 70px");	
	grid-template-areas: "header"
						 "mainbody"
						 "footer";
	overflow: hidden;
	&_header{
		grid-area: header;
		width: 100%;
		@include LINE(3px);
	}/*-->header.scss*/
	&_mainbody{
		grid-area: mainbody;
		width: 100%;
	}/*-->mainbody.scss*/
	&_footer{
		grid-area: footer;
		@include LINE(3px);
		width: 100%;
	}/*-->footer.scss*/

}