@import "variables";

// SCROLLBAR
/* width */
::-webkit-scrollbar {
  
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 15px;
  box-shadow: inset 2px 0px 2px var(--c2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--c3);
}