:root{
    --navbarHeight: 70px; //also footer height
    /*Colors*/
    --c1: #aabbcc;
    --c2: #557675;
    --c3: #223344;
  /*Timings*/
    --quick: .5s;
    /*--lazy: .95s;*/
    --lazy: .75s;
  /*ease timing*/
    --bounceEase: cubic-bezier(0.175, 0.985, 0.5, 1.25);
  /*misc settings*/
    --borderRadius: 10px;
}
/*HELPERS*/
.r {
   border: 5px red solid;
}
.x {
   display: none;
   opacity: 0;
}
/* @include LINE(5px)*/
/*MIXIN's*/
@mixin grid($w, $h, $colQUOTES, $rQUOTES) {
  display: grid;
  width: $w;
  height: $h;
  grid-template-columns: unquote($colQUOTES);
  grid-template-rows: unquote($rQUOTES);
}
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin lrcenter {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
@mixin tbcenter {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
}
@mixin buttonHoverShadow{
    box-shadow: 5px 8px 15px -1px rgba(0,0,0,0.75); 
}
@mixin flexCenter{
  display: flex;
  justify-content:center;
  align-items: center;
}
@mixin buttonize{
    text-decoration: none;
    @include siteFont;
    transition: all var(--quick);
    &:hover{
        background: var(--c1);
    }
}
@mixin LINE($weight,$color:white){
  // background: #001;
  // border: $weight $color solid;
}
@mixin anime($name,$time,$reps){
  //*insert keyframe name >$name*//
  animation: $name $time infinite;
  /*animation-timing-function: ease-in;*/
  animation-iteration-count: $reps;
  animation-timing-function: var(--bounceEase);
}